@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(
    108deg,
    rgba(254, 218, 117, 0.3) 5.21%,
    rgba(250, 126, 30, 0.3) 28.65%,
    rgba(214, 41, 118, 0.3) 52.6%,
    rgba(150, 47, 191, 0.3) 73.44%,
    rgba(79, 91, 213, 0.3) 95.31%
  );
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

#Paste:hover {
  cursor: pointer;
}

#Clear:hover {
  cursor: pointer;
}

.playable-media {
  width: 200px;
  height: 300px;
}

.clear-paste {
  width: 50px;
}

.left-section {
  display: flex;
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.field {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff99;
}

.button {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.field-color {
  background-color: #ffffff99;
}

.rounded-border-18 {
  border-radius: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.no-outline {
  outline: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.no-background {
  background-color: transparent;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
